
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*background-color: #1e73ff;*/
    background: #b7deed; /* Old browsers */
    background: -moz-linear-gradient(top, #b7deed 0%, #71ceef 23%, #21b4e2 48%, #21b4e2 67%, #22cae8 83%, #b7deed 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #b7deed 0%,#71ceef 23%,#21b4e2 48%,#21b4e2 67%,#22cae8 83%,#b7deed 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #b7deed 0%,#71ceef 23%,#21b4e2 48%,#21b4e2 67%,#22cae8 83%,#b7deed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    color: white;
}


select {
    width: 100%;
    background-color: #DDD;
    padding: 4px 0;
    color: black;
}