.title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.login {
    font-size: 40px;
    margin: 60px 0px 0px;
}
.register {
    font-size: 25px;
    margin: 50px 0px 0px;
}

.head {
    font-size: 25px;
    margin: 0px 10px 0px 10px;
}

.subtitle {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0px;
    padding: 0px;
    color: white;
}
select {
    width: 95%;
    padding: 12px 20px;
    margin: 10px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.participants {
    height: 280px;
}

input {
    width: 85%;
    padding: 12px 20px;
    margin: 10px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button {
    width: 85%;
    background-color: #5e5e5e;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}

    button:hover {
        background-color: #45a049;
    }
a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
}

    a:hover {
        color: yellow;
    }
#error {
    color: #ff0000;
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}


table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

    table td, table th {
        border: 1px solid #ddd;
        padding: 8px;
        color: white;
    }

    table tr:nth-child(even) {
        background-color: #758eff;
    }

    table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
    }