#sidebar {
    margin: 0px;
    padding: 0px;
    position: fixed;
    width: 150px;
    height: 100%;
    color: black;
    background-color: #1a8d98;
    left: -150px;
    transition: all 500ms linear;
}

#sidebar .toggle-btn {
    position: absolute;
    left: 150px;
}


#header {
    width: 360px;
    background-color: #22a194;
}
#sidebar.active {
    left:0px;
}

#sidebar ul li{
    color: whitesmoke;
    font-size: 20px;
    list-style: none;
    padding: 5px 10px;
    border-bottom: 1px solid rgba(100, 200, 100, 0.3);
}


